 <!DOCTYPE html>
<html>
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Chỉnh sửa sản phẩm</h3>
    </div>
    <div class="card-body bg-white">
      <div class="row">
        <!-- Form Panel    -->
          <div class="col-lg-7 bg-white">
            <div class="form d-flex align-items-center">
              <div class="content">
                  <form class="form-validate" action="/products/update/{{product._id}}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                      <strong>File hình ảnh</strong> 
                      <input type="file" class="input-material" name ="image" id="image" required multiple>
                    </div>
                    <div class="form-group">
                      <strong>Tên SP</strong> 
                      <input type="text" class="input-material" value="{{product.name}}" name ="name" id="name">
                    </div>
                    <div class="form-group">
                      <strong>Giá SP</strong> 
                      <input type="text" class="input-material" value="{{product.price}}" name ="price" id="price">
                    </div>
                    <div class="form-group">
                      <strong>Số lượng</strong> 
                      <input type="text" class="input-material" value="{{product.amount}}" name ="amount" id="amount">
                    </div>
                    <div class="form-group">
                      <strong>Size</strong> 
                      <input type="text" class="input-material" value="{{product.size}}" name ="size" id="size">
                    </div>
                    <div class="form-group">
                      <strong>Color</strong> 
                      <input type="text" class="input-material" value="{{product.color}}" name ="color" id="color">
                    </div>
                    <div class="form-group">
                      <strong>Mô tả</strong> <br><br>
                      <textarea rows="10" cols="30" class="input-material" name ="description" id="description" >{{product.description}}</textarea>
                    </div>  
                    <div class="form-group">
                        <strong>ID Loại sản phẩm: &emsp;</strong> 
                        <select name="catergory">
                          {{#each catergories }}
                            {{#ifCond this._id ../product.catergory}}
                              <option selected id = {{this._id}} value={{this._id}}>{{this.name}}</option>
                            {{else}}
                              <option id = {{this._id}} value={{this._id}}>{{this.name}}</option>
                            {{/ifCond}}
                          {{/each}}
                        </select>
                    </div>
                    <br><br>
                    <div class="row form-group">
                      <div class="col-lg-3">
                        <div class="form-group">
                          <button type ="submit" class="btn btn-primary">Cập nhật</button>
                        </div>
                      </div>
                      <div class="col-lg-3 m-l-100">
                        <a href="javascript:history.back()" class="btn btn-primary">Hủy</a>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
    </div>
</html>