<!DOCTYPE html>
<html>
 <style>
    .btn-add{
     background-color: rgb(181, 218, 205);
     margin-right: 0%;
   }
    .btn{
	  margin-left:10px;
   }
  
 </style>
 <div class="card-header d-flex align-items-center">
                      <div class="col-sm-6 d-flex">
                        <form class="text-right">
                          <button class="btn-add" formaction="/products/create"><i class="far fa-plus-square"></i></button>
                        </form>
                      </div>
  </div>
  <div class="card-body">
          <table class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th style="width:5%">STT</th>
                              <th style="width:20%">Tên User</th>
                              <th style="width:15%">Giới tính</th>
                              <th style="width:40%">Địa chỉ</th>
                              <th style="width:20%">Xử lý</th>
                            </tr>
                          </thead>
                          {{#each list_users}}
                              <tr>
                                <th scope="row">{{inc @index}}</th>
                                <td>{{this.username}}</td>
                                <td>{{this.sex}}</td>
                                <td>{{this.address}}</td>
                                <td>
                                  <div class="row button">
                                    <form>
                                      <button class="btn" formaction="/accounts/delete/{{this._id}}"><i class="far fa-trash-alt"></i></button>
                                    </form>
                                    <form>
                                      <button class="btn" formaction="/accounts/detail/{{this._id}}"><i class="fa fa-info-circle"></i></button>
                                    </form>
                                  </div>
                                </td>
                              </tr>
                            
                          {{/each}}
          </table>
  </div>
</html>
